body {
  margin: 0;
  font-family: PT sans caption, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer{
  margin-top: 12px;
  padding: 10px;
  height: 90vh;
  background-color: white;
  border-radius: 8px;
}

.container{
  margin-right: 0;
  margin-left: 70px;
  margin-top: 60px;
  padding: 20px;
  padding-left: 40px;
  height: 175vh;
  background-color:#F2F2F2;
}

.welcomeText{
  padding-top: 5px;
}

.submitButtonDiv{
  margin: auto;
  text-align: center;
}

.welcomeTextLogo{
  margin-top: 7px; 
  margin-right: 4px;
}

.textfields{
  height: "5vh"
}

.submitButton{
  padding: 200px;
  width: 190px;
  height: 48px;
}

#open-select-country, #open-select-state, #open-select-suburb{
  width: 143px;
}

#textfield-location{
  
  width: 160px;
}

.addManagerLocationInput{
  width: 50%;
  float: right;
}

.page-heading{
  color: #0A437C;
}

.addLocationForm{
  padding-left: 65px;
}

.addLocationCountry, .addLocationState, .addLocationSuburb{
  display: flex;
}