body {
  margin: 0;
  font-family: PT sans caption, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer{
  margin-top: 12px;
  padding: 10px;
  height: 90vh;
  background-color: white;
  border-radius: 8px;
}

.container{
  margin-right: 0;
  margin-left: 70px;
  margin-top: 60px;
  padding: 20px;
  padding-left: 40px;
  height: 175vh;
  background-color:#F2F2F2;
}

.welcomeText{
  padding-top: 5px;
}

.welcomeTextLogo{
  margin-top: 7px; 
  margin-right: 4px;
}

.page-heading{
  color: #0A437C;
}
