body {
  margin: 0;
  font-family: PT sans caption, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  margin: 27px;
  margin-left: 100px;
  margin-top: 95px;
  padding: 10px;
  height: 90vh;
  background-color: white;
  border-radius: 8px;
}

.welcomeText{
  padding-top: 5px;
}

.submitButtonDiv{
  margin: auto;
  text-align: center;
}

.welcomeTextLogo{
  margin-top: 7px; 
  margin-right: 4px;
}

.textfields{
  height: "5vh"
}

.submitButton{
  padding: 200px;
  width: 190px;
  height: 48px;
}

#open-select-country, #open-select-state, #open-select-suburb{
  width: 143px;
}

#textfield-location{
  
  width: 160px;
}

.addManagerLocationInput{
  width: 50%;
  float: right;
}

.page-heading{
  color: #0A437C;
}

.addLocationForm{
  padding-left: 65px;
}

.addLocationCountry, .addLocationState, .addLocationSuburb{
  display: flex;
}

.questionstyle-1{
  font-family: Arial, Helvetica, sans-serif;
  width: 53vw;
  font-size: 20px;
  margin-top: 17%;
  display: block;
  text-align: right;
  position: absolute;
}

.questionstyle-2{
  font-family: Arial, Helvetica, sans-serif;
  width: 53vw;
  left: 24%;
  font-size: 20px;
  margin-top: 17%;
  display: block;
  text-align: center;
  position: absolute;
}

.questionButtonDiv{
  margin: 10px;
}

.streetInput{
  padding: 10px;
  height: 50px;
  width: 250px;
  border-radius: 4px;
  border: 1px solid #0A437C;
  font-size: large;
  margin-bottom: 5px;
}
.houseInput{
  height: 50px;
  padding: 10px;
  width: 250px;
  border: 1px solid #0A437C;
  border-radius: 4px;
  font-size: large;
  margin-bottom: 5px;
}

.selectSuburb{
  height: 50px;
  padding: 10px;
  width: 250px;
  border: 1px solid #0A437C;
  border-radius: 4px;
  font-size: large;
}

.nextButton{
  width: 250px;
}

.full-image-question{
  left: 450px;
  top: 100px;
  position: fixed;
  display: inline-block;
  width: 53vw;
}

.column {
  float: left;
  width:5vw;
}

.row {
  padding-top: 80px;
  padding-left: 120px;
}