body {
  margin: 0;
  font-family: PT sans caption, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer{
	margin-top: 12px;
	padding: 10px;
	height: 90vh;
	background-color: white;
	border-radius: 8px;
}
  
.container1{
	margin-right: 0;
	margin-left: 70px;
	margin-top: 60px;
	padding: 20px;
	padding-left: 40px;
	height: 92vh;
	background-color:#F2F2F2;
}

.container2{
	margin-right: 0;
	margin-left: 70px;
	margin-top: 60px;
	padding: 20px;
	padding-left: 40px;
	height: 175vh;
	background-color:#F2F2F2;
}

.container3{
	margin-right: 0;
	margin-left: 70px;
	margin-top: 60px;
	padding: 20px;
	padding-left: 40px;
	height: 265vh;
	background-color:#F2F2F2;
}

.welcomeText{
  padding-top: 5px;
}

.submitButtonDiv{
  margin: auto;
  text-align: center;
}

.welcomeTextLogo{
  margin-top: 7px; 
  margin-right: 4px;
}

.textfields{
  height: "5vh"
}

.submitButton{
  padding: 200px;
  width: 190px;
  height: 48px;
}

#open-select-country, #open-select-state, #open-select-suburb{
  width: 143px;
}

#textfield-location{
  
  width: 160px;;
}

.addManagerLocationInput{
  width: 100%;
  float: right;
}

.page-heading{
  color: #0A437C;
}

.addLocationForm{
  padding-left: 65px;
}

.addLocationCountry, .addLocationState, .addLocationSuburb{
  display: flex;
}

.my-form{
	color:#42a5f5;
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
	border-radius: 5px;
  	width: 100%;
  	height: 2000px;
	position:relative;
	overflow: auto;
}

.my-form input[type="text"]{
		padding:20px;
    border: 2px solid lightblue;
    border-color: grey;
		border-radius: 4px;
		margin-left: 30px;
		width: 350px;
		clear:both;
}

.my-button input[type="button"]{
	font-size: 16px;
	font-style:solid;
	color:white;
	width: 250px;
	letter-spacing:0.1em;
	text-transform:uppercase;
	background-color:#42a5f5;
	padding:10px 28px;
	border-radius: 8px;
	border: 1px #42a5f5;
	position: relative; bottom:0px; right: 90px;
}

.questionContainer-1{
	background-color:white;
	color:#42a5f5;
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
	border-radius: 5px;
	height:250px;
	padding:10px 50px;
	margin-top:20px;
	margin-bottom:10px;
	width: 95%;
	position:relative; 
	resize: both;
}